body, #app .el-header{
    padding: 0;
}

body {
    margin: 0;
}

html, body, #app, .index-container {
    height: 100%;
}

.index-aside {
    border-right: solid 1px var(--el-menu-border-color);
}

.index-aside .el-menu {
    border-right: 0 none;
}

.el-menu-left:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
}
/**
 * slide-fade 动画
 */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
