body, #app .el-header{
    padding: 0;
}

html, body {
    margin: 0;
    --el-border-radius-large: 6px;
}

html, body, #app, .index-container {
    height: 100%;
}

.index-aside {
    border-right: solid 1px var(--el-menu-border-color);
}

.index-aside .el-menu {
    border-right: 0 none;
}

.el-menu-left:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
}

.padding-left1 {
    padding-left: 5px;
}
.padding-left2 {
    padding-left: 10px;
}
.padding-right1 {
    padding-right: 5px;
}
.padding-right2 {
    padding-right: 10px;
}

.padding-top1 {
    padding-top: 5px;
}
.padding-top2 {
    padding-top: 10px;
}
.padding-bottom1 {
    padding-bottom: 5px;
}
.padding-bottom2 {
    padding-bottom: 10px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.el-dialog {
    --el-dialog-border-radius: var(--el-border-radius-large);
}

.icon-dialog .el-dialog__body {
    padding: 10px;
}

.icon-list::-webkit-scrollbar {
    z-index: 10;
    width: 6px;
}
.icon-list::-webkit-scrollbar-thumb {
    border-radius:5px;
    width:6px;
    background:var(--el-text-color-disabled)
}

.login-form .el-card__header{
    padding-top: 0;
    padding-bottom: 0;
}

.login-form .el-card__footer {
    text-align: center;
}

.no_flex {
    display: block;
}

.flex-column {
    flex-direction: column;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.common-form.el-form--inline .el-input{
    --el-input-width: 220px;
}

.common-subform.el-form--inline .el-input{
    --el-input-width: 220px;
}

.form-edit-width-70 {
    width:70%
}

.form-edit-width-100 {
    width:100%
}

.common-autocomplete .el-popover__title{
    font-size: 14px;
    font-weight: 600;
}

.common-autocomplete .autocomplete-table .el-table__cell{
    padding: 3px 0;
    cursor: pointer;
}

.common-autocomplete .el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 30px;
}

.common-autocomplete .common-select-page .el-tabs__item {
    height: 30px;
}

.common-autocomplete .common-select-page .common-select-page-btn {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.common-autocomplete .common-select-page .el-tabs__content {
    padding: 5px;
}

/**
 * slide-fade动画
 */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.flex-grow {
    flex-grow: 1;
}
