body, #app .el-header{
    padding: 0;
}

body {
    margin: 0;
}

html, body, #app, .index-container {
    height: 100%;
}

.index-aside {
    border-right: solid 1px var(--el-menu-border-color);
}

.index-aside .el-menu {
    border-right: 0 none;
}
